@import "./index.scss";

.contacts__wrapper {
  display: flex;
}

.contacts__socials {
  margin-bottom: 178.29px;
  margin-right: 30px;
  .contacts__social {
    border-radius: 26px;
    background-color: $colorBackCards;
    button {
      border: 0;
      background-color: $colorBackZero;
      border-radius: 26px;
      padding: 20px;
      width: 350px;
      &:hover {
        transition: 0.9s;
        border-radius: 26px;
        background: $colorBackSocial;
        box-shadow: $colorBoxCards;
        transform: scale(1.1);
        a {
          color: $colorButton;
        }
      }
    }
    a {
      display: flex;
      align-items: center;
      color: $colorTitle;
      text-decoration: none;
    }
    img {
      width: 100px;
      height: 100px;
      margin-right: 20px;
    }

    &:first-child {
      margin-bottom: 50px;
    }
    &:hover {
      background-color: $colorBackZero;
    }
  }
}

.contacts__map {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 450px;
  background-color: $colorBackCards;
  border-radius: 25px;
}
