@import "./index.scss";

footer {
  position: absolute;
  top: 835px;
  left: 485px;
}
.footer__logo {
  margin-right: 15px;
}

.footer__social {
  button {
    border: 0;
    background-color: $colorBackZero;
    width: 45px;
    height: 45px;
    border-radius: 45px;
    &:hover {
      transition: 0.9s;
      background: $colorBackActiveCards;
      box-shadow: $colorBoxCards;
      transform: scale(1.3);
      color: $colorButton;
    }
  }
  img {
    width: 35px;
    height: 35px;
  }
}
